---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>😈KER的个人博客😈</h1>
			<p>
				这里有一个超链接🙌🙌🙌<a href="https://astro.build/">Astro官网</a> <br />
				剩下的懒得改了，之后再说
			</p>
			
		</main>
		<Footer />
	</body>
</html>
